

/* Mise en page centrée */
.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: white;
  position: relative;
  z-index: 2;
}

/* Conteneur de la carte de connexion avec coins arrondis et ombre */
.login-card {
  background-color: white;
  width: 100%;
  max-width: 380px;
  border-radius: 25px;
  padding: 30px 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 3;
}

/* Style pour le titre et le sous-titre */
.app-title {
  font-size: 1.8em;
  font-weight: bold;
  color: #6b5aed;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 0.9em;
  color: #8a94a6;
  margin-bottom: 20px;
}

/* Texte de connexion via réseaux sociaux */
.social-login-text {
  font-size: 0.9em;
  color: #8a94a6;
  margin-bottom: 15px;
}

/* Boutons de réseaux sociaux */
.social-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.social-button {
  background: #f0f1f5;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.5em;
  color: #6b5aed;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Texte du diviseur */
.divider-text {
  font-size: 0.9em;
  color: #8a94a6;
  margin: 15px 0;
}

/* Champs de saisie */
.input-item {
  width: 100%;
  max-width: 340px;
  margin: 10px 0;
  --background: #f9f9f9;
  --highlight-color-focused: #6b5aed;
  border-radius: 10px;
  padding: 5px 10px;
}
.image-container {
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 40px;
  margin-top: 0%;
  margin-left: 25%; /* Spacing below the image */
}

ion-img {
  justify-content: center;
  width: 150%;
  height: 150%;
  object-fit: cover;
}


.input-item ion-icon {
  color: #b3b7c3;
}

/* Lien "Forgot Password" */
.forgot-password {
  width: 100%;
  text-align: right;
  margin-top: 10px;
}

.forgot-password a {
  font-size: 0.9em;
  color: #6b5aed;
  text-decoration: none;
}

/* Bouton de connexion */
.login-button {
  width: 100%;
  max-width: 340px;
  --background: #6b5aed;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1em;
  margin-top: 10px;
}

/* Texte pour le lien d'inscription */
.sign-up-text {
  font-size: 0.9em;
  color: #dde3ef;
  margin-top: 20px;
}

.sign-up-text a {
  color: #6b5aed;
  font-weight: bold;
  text-decoration: none;
}
